<div class="page-content">
  <h4 class="green col-6 issue-details-box spacing-below">
    <%= @issue.title %>
    <hr>
    <%= @issue.description %>
  </h4>
  <h4 class="spacing-below"><%= link_to "Go to project board", project_path(@project), class: "green" %></h4>
  <h4 class="spacing-below"><%= link_to "Homepage", root_path, class: "green" %></h4>
  <%= react_component("Assignees", {
    root_url: root_url,
    issue: @issue,
    current_user: current_user,
    assignees: @assignees,
    project: @project
  }) %>
</div>
